@import "tailwindcss";
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: Poppins;
}
body {
  background-color: rgb(197, 223, 197);
}
.container-body {
  padding-inline: 100px;
}
@media (max-width: 500px) {
  .container-body {
    padding-inline: 30px;
  }
  input {
    font-size: 14px;
  }
}
